
/* Contact.css */
.container {
  display: flex;
  flex-direction: column; /* Default to column for mobile/small screens */
}

@media (min-width: 1024px) {
  .container {
display: flex;  
}
}

.background-img{
  background-image: url(./assets/RegularCollectionsHeroImageDark.png);
}
/* Set image sizes for large screens */
@media (min-width: 1024px) {
  .carousel-image {
    width: 30px !important;
    height: 20px !important;
  }
}

.flex-container {
  display: flex;
  flex-direction: column; /* Default to column layout for small screens */
  gap: 16px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .flex-container {
    flex-direction: row; /* Change to row layout on large screens */
    width: 50%; /* 1/2 width on large screens (lg) */
  }
}
