/* Your existing CSS styles */

.nav-logo {
  max-width: 4rem !important;
}

.main-img {
  max-width: 22rem;
  max-height: 18rem;
}

.resume {
  position: relative;
}

.text {
  color: black !important;
}

/* New CSS changes for the carousel */
.carousel-container {
  max-width: 80%;
  margin: 9rem auto 5rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.carousel-image {
  width: 50%; /* Set the width to 50% for desktop screens */
  max-width: 50%; /* Added for clarity, can be removed */
  max-height: 50%; /* Added for clarity, can be removed */
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: gold;
}

/* Add responsive styles for the carousel container */
@media (max-width: 768px) {
  .carousel-container {
    max-width: 90%;
  }

  .carousel-image {
    width: 25%; /* Set the width to 25% for mobile devices */
    max-width: 25%; /* Added for clarity, can be removed */
    max-height: 25%; /* Added for clarity, can be removed */
  }
}

@media (max-width: 480px) {
  .carousel-container {
    max-width: 95%;
  }

  .carousel-image {
    width: 25%; /* Set the width to 25% for smaller mobile devices */
    max-width: 25%; /* Added for clarity, can be removed */
    max-height: 25%; /* Added for clarity, can be removed */
  }
}
